body {
	font-family: $font;
	font-size: 17px;
	font-weight: normal;
	line-height: 1.45;
	color: $black;
	@include res(xl){
		font-size: 16px;
	}
	@include res(xs){
		font-size: 14px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

h1,.h1{
	font-size: 75px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 800;
	@include res(xl){
		font-size: 60px;
	}
	@include res(l){
		font-size: 48px;
	}
	@include res(s){
		font-size: 36px;
	}
	@include res(xs){
		font-size: 30px;
	}
}

h2,.h2{
	font-weight: 500;
	font-size: 33px;
	line-height: 1.3;
	@include res(xl){
		font-size: 30px;
	}
	@include res(l){
		font-size: 28px;
	}
	@include res(s){
		font-size: 20px;
	}
}

h4,.h4{
	font-weight: 500;
	font-size: 22px;
	line-height: 1.2;
	@include res(s){
		font-size: 18px;
	}
}

h5,.h5{
	font-size: 19px;
	font-weight: 500;
}


.section-title{
	text-align: center;
	margin-bottom: 50px;
	@include res(l){
		margin-bottom: 30px;
	}
}

.action-link{
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1;
	color: $blue;
	transition: color 0.3s ease;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;

	&:hover{
		color: $orange;
	}

	i{
		font-size: 0.7em;
		margin-left: 10px;
	}
}

.center-btn{
	text-align: center;
	padding-top: 30px;
}